.main-div {
    display: grid;
    background-color: blanchedalmond;
}

.main-text-area-container {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

#post-text {
    width: 80%;
    padding: 10px;
}

.sticky-notes {
    border: 1px;
    background: rgb(255, 233, 167);
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;

}

#main-board {
    display: grid;

    grid-auto-flow: column;
    gap: 5px;
    padding: 10px;
}