.main-div {
    display: grid;
    background-color: blanchedalmond;
}

.main-text-area-container {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

#post-text {
    width: 80%;
    padding: 10px;
    background-color: transparent;
    border-color: blue;
}

#post-button {
    background-color: transparent;
    border-radius: 5px;
}

#post-button:hover {
    background-color: green;
    color: white;
}

.sticky-notes {
    border: 1px;
    overflow-wrap: break-word;
    word-break: break-word;
    background: rgb(255, 233, 167);
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    cursor: move;
    user-select: none;
    touch-action: none;
    box-shadow: 5px 5px 1px 1px rgb(80, 67, 27);
    z-index: 100;
}

.sticky-input {
    max-width: 100%;
    background-color: transparent;
    text-align: left;
    text-overflow: clip
}

.sticky-text {
    max-width: 100%;
    text-align: left;
    text-overflow: ellipsis;
}

#main-board {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    gap: 5px;
    padding: 10px;
    background-color: antiquewhite;
    max-width: 100vw;
    height: 100vh;
}

#app-title {
    font-style: italic;
    text-align: center;
    width: 100%;
    z-index: 1;
    position: absolute;
    color: rgb(71, 48, 48);
    border: 10px black;
    opacity: 90%;
}

/* #new-note {left: 200px;} */