.main-div {
    display: grid;
    background-color: blanchedalmond;
}

.main-text-area-container {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.main-text-area {
    width: 80%;
    padding: 10px;
}

.sticky-notes {
    border: 1px;
    background: pink;
    width: 100px;
    height: 100px;
}

#main-board {
    display: grid;
}